[Unit]
Description=Slurm node daemon
After=network.target
ConditionPathExists=/usr/etc/slurm.conf
Documentation=man:slurmd(8)

[Service]
Type=forking
EnvironmentFile=/etc/default/slurmd
ExecStart=/usr/sbin/slurmd $SLURMD_OPTIONS
PIDFile=/var/run/slurmd.pid

[Install]
WantedBy=multi-user.target
